#on ignore tout
*
!README
!Doxyfile

#sauf tout ce qui est dans res
!res/
!res/*

#et sauf tout ce qui est dans src
!src/
!src/*

#mais ignorer quand même
*.pro.user
*~

#on n'ignore pas le .gitignore lui-même !
!.gitignore

